.bookList {
    padding-top: 100px;
}

.bookList #titleBookList {
    text-align: center;
    font-style: italic;

}

.bookList .divSearchBooks {
    margin: 30px auto;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bookList .divSearchBooks input {
    margin-right: 30px;
    padding: 0px 10px;
    height: 30px;
    width: 550px;
    border-radius: 7px;
}


.bookList .toggle-container {

    border: #162c34 4px solid;
    position: relative;
    width: 60px;
    height: 20px;
    background-color: #ff3c3c;
    border-radius: 50px;
    margin-left: 20px;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}


.bookList .toggle-container.active {
    background-color: #4caf50;
}

.bookList .toggle-container.active .toggle-knob {
    left: 38px;
}

.bookList .toggle-knob {
    position: absolute;
    top: 0px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: left 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.bookList table {
    margin: auto;
    width: 800px;
    position: relative;
}

.bookList th {
    padding: 5px;
    color: #fff;
    background-color: #162c34;
}

.bookList #btn-createBook {
    position: absolute;
    right: -40px;
    top: 4px;
    height: 30px;
    width: 30px;
    background-color: #162c34;
    color: #fff;
    border: 0;
    border-radius: 5px;
    transition: 0.1s ease;
}

.bookList #btn-createBook:hover {
    border: 3px solid #162c34;
    font-weight: bolder;
    background-color: #fff;
    color: #162c34;
    scale: 110%;
}