.LoanCard {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #162c34;
    border-top: 1px solid #162c34;

    
}

#loan-info {
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 25% auto 25% 60px;
    gap: 10px;
}

#p-loan, #p-loan-dates{
    color: #162c34;
    font-weight: 600;
}

#p-loan-status {
    background-color: #162c34;
    border-radius: 7px;
    height: 90%;
    color: #ffffff;
    font-weight: bold;
    align-content: center;
}

.LoanCard button{
    background-color: #ffffff;
    border: 3px solid #162c34;
    border-radius: 7px;
    height: 90%;
    transition: ease 0.2s;
}

.LoanCard button:hover{
    background-color: #ff3c3c;
    font-size: 23px;
}
   