.loanList {
    width: 1000px;
    margin: 100px auto;
    text-align: center;
}

.loanList table {
    width: 100%;
}

.loanList tr {
    display: grid;
    align-items: center;
    grid-template-columns: 250px 300px 250px 100px 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #162c34;

}