#userInfo {
    margin: auto;
    display: grid;
    grid-template-columns: 30% 70%;
    width: 60%;
    padding-top: 150px;
}

#user {
    margin: auto;
    display: flex;
}

#divUserImage {
    text-align: center;
    padding-left: 50px;
}

#divUserInfo {
    padding: 25px 50px;
    color: #162c34;
}

#imgUserPhoto {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    background-color: #162c34;
    border-radius: 150px;
}

#divUserImage {
    position: relative;
    width: 200px;
}

#div-image {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid black;

}

#div-image:hover {

    background-color: white;
    border: 10px solid black;
    width: 200px;
    height: 200px;
    background-image: url("../../img/Upload-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

#div-image input {
    visibility: hidden;
}


#btnEditProfile {
    background-color: #162c34;
    width: 200px;
    color: white;
    border-radius: 25px;
    margin-bottom: 10px;

}

#btnLogout {
    background-color: white;
    width: 150px;
    height: 40px;
    color: #162c34;
    border: 4px solid #162c34;
    border-radius: 25px;
    margin-bottom: 10px;
}



#pUserName {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

#pUserEmail {
    margin-bottom: 40px;
}

#pUserNationalId,
#pUserPhone {
    line-height: 30px;
}